<div>
  <h1 class="my-default">
    <div>
      <%= @result.peer_review.title %>:
      <%= title t ".title" %>
    </div>
    <div class="title">
      <%= @result.user.name %>
    </div>
  </h1>

  <%= turbo_frame_tag :result do %>
    <h2 class="bold text-2xl my-default"><%= t ".average_scores" %></h2>

    <% PeerReviews::Review::SCORE_KEYS.each do |score_key| %>
      <div>
        <%= PeerReviews::Review.human_attribute_name score_key %>:
        <%= @result.public_send(score_key).round(2) %>
      </div>
    <% end %>

    <h2 class="bold text-2xl my-default"><%= t ".comments" %></h2>

    <% @result.comments.each do |comment| %>
      <div class="my-default">
        <%= simple_format comment %>
      </div>
    <% end %>
  <% end %>
</div>
