<%= form_with(model: [:students, user], class: "contents") do |form| %>
  <%= render "shared/form_errors", messages: error_messages %>

  <div class="grid grid-cols-[auto_auto] gap-4 items-center my-default">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-field" %>

    <%= form.fields_for user.student_profile do |f| %>
      <%= f.label :student_number %>
      <%= f.text_field :student_number, class: "text-field" %>

      <%= f.label :student_number_confirmation %>
      <%= f.text_field :student_number_confirmation, class: "text-field" %>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "button-primary my-default" %>
  </div>
<% end %>
