<%= form_with(
  model: review,
  url: [peer_review, review, { participation_hashid: participation&.hashid }],
  class: "contents"
) do |form| %>
  <%= render "shared/form_errors", messages: review.errors.full_messages %>

  <div class="vertical my-default">
    <%= form.label :fun %>
    <%= form.number_field :fun %>
  </div>
  <div class="vertical my-default">
    <%= form.label :technical %>
    <%= form.number_field :technical %>
  </div>
  <div class="vertical my-default">
    <%= form.label :creativity %>
    <%= form.number_field :creativity %>
  </div>
  <div class="vertical my-default">
    <%= form.label :composition %>
    <%= form.number_field :composition %>
  </div>
  <div class="vertical my-default">
    <%= form.label :growth %>
    <%= form.number_field :growth %>
  </div>
  <div class="vertical my-default" data-controller="text-area-autosize">
    <%= form.label :comment %>
    <%= form.text_area(
      :comment,
      class: "text-area",
      data: { "text-area-autosize-target": "textArea" }
    ) %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
