<%= form_with(model: peer_reviews_review, class: "contents") do |form| %>
  <%= render "shared/form_errors", errors: peer_reviews_review.errors %>

  <div class="vertical my-default">
    <%= form.label :hashid %>
    <%= form.text_field :hashid, class: "text-field" %>
  </div>
  <div class="vertical my-default">
    <%= form.label :peer_review_id %>
    <%= form.text_field :peer_review_id, class: "text-field" %>
  </div>
  <div class="vertical my-default">
    <%= form.label :reviewer_id %>
    <%= form.text_field :reviewer_id, class: "text-field" %>
  </div>
  <div class="vertical my-default">
    <%= form.label :reviewee_id %>
    <%= form.text_field :reviewee_id, class: "text-field" %>
  </div>
  <div class="vertical my-default">
    <%= form.label :like %>
    <%= form.number_field :like %>
  </div>
  <div class="vertical my-default">
    <%= form.label :technical %>
    <%= form.number_field :technical %>
  </div>
  <div class="vertical my-default">
    <%= form.label :creativity %>
    <%= form.number_field :creativity %>
  </div>
  <div class="vertical my-default">
    <%= form.label :composition %>
    <%= form.number_field :composition %>
  </div>
  <div class="vertical my-default">
    <%= form.label :growth %>
    <%= form.number_field :growth %>
  </div>
  <div class="vertical my-default">
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "text-field" %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
