<%= form_with(
  model: review,
  url: [peer_review, review, { participation_hashid: participation&.hashid }],
  class: "contents"
) do |form| %>
  <%= render "shared/form_errors", errors: review.errors %>

  <div class="vertical my-default">
    <%= form.label :like %>
    <%= form.number_field :like %>
  </div>
  <div class="vertical my-default">
    <%= form.label :technical %>
    <%= form.number_field :technical %>
  </div>
  <div class="vertical my-default">
    <%= form.label :creativity %>
    <%= form.number_field :creativity %>
  </div>
  <div class="vertical my-default">
    <%= form.label :composition %>
    <%= form.number_field :composition %>
  </div>
  <div class="vertical my-default">
    <%= form.label :growth %>
    <%= form.number_field :growth %>
  </div>
  <div class="vertical my-default">
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "text-field" %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
