<div id="<%= dom_id peer_reviews_review %>">
  <h1 class="title my-default"><%= title PeerReviews::Review.model_name.human %></h1>

  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :hashid %>:</div>
    <%= peer_reviews_review.hashid %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :peer_review_id %>:</div>
    <%= peer_reviews_review.peer_review_id %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :reviewer_id %>:</div>
    <%= peer_reviews_review.reviewer_id %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :reviewee_id %>:</div>
    <%= peer_reviews_review.reviewee_id %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :like %>:</div>
    <%= peer_reviews_review.like %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :technical %>:</div>
    <%= peer_reviews_review.technical %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :creativity %>:</div>
    <%= peer_reviews_review.creativity %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :composition %>:</div>
    <%= peer_reviews_review.composition %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :growth %>:</div>
    <%= peer_reviews_review.growth %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :comment %>:</div>
    <%= peer_reviews_review.comment %>
  </div>
</div>
