<div id="<%= dom_id review %>">
  <h1 class="title my-default"><%= title PeerReviews::Review.model_name.human %></h1>

  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :fun %>:</div>
    <%= review.fun %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :technical %>:</div>
    <%= review.technical %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :creativity %>:</div>
    <%= review.creativity %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :composition %>:</div>
    <%= review.composition %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :growth %>:</div>
    <%= review.growth %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReviews::Review.human_attribute_name :comment %>:</div>
    <%= simple_format review.comment %>
  </div>
</div>
