<div>
  <h1 class="title my-default">
    <%= title t(".title", user_name: @participation.user.name) %>
  </h1>

  <div class="vertical">
    <div class="font-bold">
      <%= t(".comment_by_reviewee", user_name: @participation.user.name) %>:
    </div>
    <div class="ml-2">
      <%= @participation.comment %>
    </div>
  </div>

  <%= render(
    "form",
    peer_review: @peer_review,
    review: @review,
    participation: @participation
  ) %>

  <%= render "back_to_index_link", peer_review: @peer_review %>
</div>
