<div id="<%= dom_id space %>">
  <div class="horizontal items-end my-default gap-3">
    <h1 class="title"><%= title space.name %></h1>

    <% if space.display_on_home? %>
      <div><%= Space.human_attribute_name :display_on_home %></div>
    <% end %>
  </div>

  <div class="my-8 mx-4">
    <div class="flex justify-between items-center my-default">
      <h2 class="font-bold text-2xl"><%= t "posts.index.title" %></h2>
      <%= render "posts/new_link", space: %>
    </div>

    <turbo-frame
      id="posts"
      src="<%= space_posts_path space, page: params[:page] %>"
      target="_top"
    ></turbo-frame>
  </div>
</div>
