<div id="<%= dom_id space %>">
  <div class="scaffold-buttons my-default">
    <%= render "spaces/edit_link", space: space %>
    <%= render "spaces/destroy_button", space: space %>
    <%= render "spaces/back_to_index_link" %>
  </div>

  <div class="horizontal items-end my-default gap-3">
    <h1 class="title"><%= title space.name %></h1>

    <% if space.display_on_home? %>
      <div><%= Space.human_attribute_name :display_on_home %></div>
    <% end %>
  </div>

  <div class="horizontal">
    <%= render "posts/index_link", space: %>
    <%= render "peer_reviews/index_link", space: %>
  </div>

  <div class="my-8 mx-4">
    <%= yield %>
  </div>
</div>
