<%= form_with(model: user, class: "contents") do |form| %>
  <%= render "shared/form_errors", messages: user.errors.full_messages %>

  <div class="horizontal my-default">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-field" %>
  </div>

  <div>
    <%= form.submit class: "button-primary my-default" %>
  </div>
<% end %>
