<div id="<%= dom_id user %>">
  <h2 class="font-bold my-default text-2xl"><%= user.name %></h2>

  <% student_profile = user.student_profile %>
  <% if student_profile.present? %>
    <div class="vertical my-default">
      <div class="warn-box">
        <%== t ".please_save_bellow_credentials" %>
      </div>

      <div class="vertical">
        <div>
          <%= StudentProfile.human_attribute_name :student_number %>
          <%= student_profile.student_number %>
        </div>
        <div>
          <%= t "password" %>
          <%= student_profile.password %>
        </div>
      </div>
    </div>
  <% end %>
</div>
