<%= form_with(model: [space, peer_review], class: "contents") do |form| %>
  <%= render "shared/form_errors", errors: peer_review.errors %>

  <div class="vertical my-default">
    <%= form.label :title %>
    <%= form.text_field :title, class: "text-field" %>
  </div>

  <div class="vertical my-default">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select_with_i18n(PeerReview, :statuses)) %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
