<div id="<%= dom_id peer_review %>">
  <h1 class="title my-default"><%= title peer_review.title %></h1>

  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReview.human_attribute_name :title %>:</div>
    <%= peer_review.title %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReview.human_attribute_name :status %>:</div>
    <%= peer_review.status.text %>
  </div>
</div>
