<div id="<%= dom_id peer_review %>">
  <div class="flex justify-between items-center">
    <div class="flex items-end">
      <h1 class="title mr-2"><%= title peer_review.title %></h1>
      <%= peer_review.status.text %>
    </div>
    <div class="horizontal">
      <%= render "students/sessions/new_link" %>
      <% if peer_review.status.doing? %>
        <%= render "peer_reviews/participations/new_link", peer_review: %>
      <% end %>
      <%= render "edit_link", peer_review: %>
      <% if peer_review.status.done? %>
        <%= render "peer_reviews/results/index_link", peer_review: %>
      <% end %>
    </div>
  </div>

  <div class="my-8 mx-4">
    <% if peer_review.status.doing? %>
      <h2 class="font-bold text-2xl my-default"><%= t "peer_reviews.participations.index.title" %></h2>

      <%= turbo_frame_tag(
        :participations,
        src: [peer_review, :peer_reviews, :participations],
        target: :_top
      ) %>
    <% elsif peer_review.participating? current_user %>
      <h2 class="font-bold text-2xl my-default"><%= t "peer_reviews.results.show.title" %></h2>

      <%= turbo_frame_tag(
        :result,
        src: [:peer_reviews, :result, { user_hashid: current_user.hashid, peer_review_hashid: peer_review.hashid }],
        target: :_top
      ) %>
    <% else %>
      <h2 class="font-bold text-2xl my-default"><%= t ".peer_review_has_ended" %></h2>
    <% end %>
  </div>
</div>
