<div id="<%= dom_id peer_review %>">
  <div class="flex justify-between items-center">
    <h1 class="title my-default"><%= title peer_review.title %></h1>
    <%= render "peer_reviews/participations/new_link", peer_review: %>
  </div>

  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReview.human_attribute_name :title %>:</div>
    <%= peer_review.title %>
  </div>
  <div class="horizontal my-default">
    <div class="font-medium"><%= PeerReview.human_attribute_name :status %>:</div>
    <%= peer_review.status.text %>
  </div>
</div>
