<div>
  <%= render @space do %>
    <div class="flex justify-between items-center my-default">
      <h2 class="font-bold text-2xl"><%= t "peer_reviews.index.title" %></h2>
      <%= render "peer_reviews/new_link", space: @space %>
    </div>

    <%= render partial: "index_peer_review", collection: @peer_reviews, as: :peer_review %>

    <%= paginate @peer_reviews %>
  <% end %>
</div>
