<%= form_with(model: [peer_review, peer_reviews_participation], class: "contents") do |form| %>
  <%= render "shared/form_errors", errors: peer_reviews_participation.errors %>

  <div class="vertical my-default">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: "text-area" %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
