<div id="<%= dom_id participation %>" class="flex justify-between">
  <div class="my-default font-bold"><%= participation.user.name %></div>

  <div class="horizontal">
    <%= render(
      "peer_reviews/reviews/new_link",
      peer_review: participation.peer_review,
      participation:
    ) %>
    <% if current_user.is_admin? %>
      <div class="horizontal">
        <%= render "show_link", participation: %>
        <%= render "edit_link", participation: %>
      </div>
    <% end %>
  </div>
</div>
