<div>
  <div class="flex justify-between items-center">
    <h1 class="title my-default"><%= title t ".title" %></h1>
    <%= render "new_link", peer_review: @peer_review %>
  </div>

  <%= turbo_frame_tag :participations do %>
    <% if @self_participation.present? %>
      <%= render(
        "index_self_participation",
        participation: @self_participation
      ) %>
    <% end %>
    <%= render(
      partial: "index_not_reviewed_participation",
      collection: @not_reviewed_participations,
      as: :participation
    ) %>
    <% @reviewed_participations.each do |reviewed_participation| %>
      <%= render(
        "index_reviewed_participation",
        participation: reviewed_participation,
        self_participation: @self_participation,
      ) %>
    <% end %>
  <% end %>
</div>
