<%= form_with(model: post, class: "contents", url: [space, post]) do |form| %>
  <%= render "shared/form_errors", errors: post.errors %>

  <div class="vertical my-default">
    <%= form.label :title %>
    <%= form.text_field :title, class: "text-field" %>
  </div>

  <div class="vertical my-default">
    <%= form.label :content %>
    <% unless post.markdown? %>
      <%= render "shared/wysiwyg", class_name: "min-h-[30rem]" do %>
        <%= form.text_area :content %>
      <% end %>
    <% else %>
      <%= form.text_area :content, class: "h-[32rem]" %>
    <% end %>
  </div>

  <div class="horizontal my-default">
    <%= form.check_box :copy_protect %>
    <%= form.label :copy_protect %>
  </div>

  <div class="horizontal my-default">
    <%= form.check_box :published %>
    <%= form.label :published %>
  </div>

  <%= form.submit class: "button-primary my-default" %>
<% end %>
