<div id="<%= dom_id post %>">
  <div class="border w-40 h-60">
    <%= link_to [space, post], class: "vertical gap-0 w-full h-full" do %>
      <div class="px-2 py-1 font-bold border">
        <%= render "post_title", post: %>
      </div>
      <%= render "shared/wysiwyg_viewer", class_name: "overflow-hidden" do %>
        <%== post.content %>
      <% end %>
    <% end %>
  </div>
</div>
