<div id="<%= dom_id post %>">
  <h1 class="title my-default">
    <%= render "post_title", post: %>
  </h1>

  <% if policy(post).edit? %>
    <div class="horizontal my-default">
      <div class="font-medium"><%= t(post.published ? ".publishing" : ".unpublished") %></div>
    </div>
  <% end %>

  <div class="my-default">
    <%= render "posts/content", post: %>
  </div>

  <div class="text-xs">
    <%= t("created_at") %>:
    <%= time_tag post.created_at %>
  </div>
  <div class="text-xs">
    <%= t("updated_at") %>:
    <%= time_tag post.updated_at %>
  </div>
</div>
